COAST_TEMP/
hgt/
land-polygons-split-4326/
osmosis/
segments4/
srtm/
brouter-master/misc/scripts/mapcreation/segments/
brouter-master/misc/scripts/mapcreation/tmp/

*_sea.osm

*.bbox

*.osm.db

*.osm.map

*.pbf

*-routes.osm

osmosis-*.tgz

mapsnapshpttime.txt

mapsforge-map-writer-master-*-jar-with-dependencies.jar

phyghtmap_*.deb
